body {
  background-image: url('../images/mma_arena.jpeg');
  background-size: cover;
}

#tomProfile {
  background-color: transparent;
}

#devinProfile {
  background-color: transparent;
}

a {
  color: #00B7FF;
}

.time {
  font-size: 200%;
}

.fighterName {
  color: white;
  font-size: 300%;
  text-align: center;
  text-shadow: 0 0 4px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#tomName {
  text-align: right;
}

#devinName {
  text-align: left;
}

.bodypic {
  height: 70%;
  width: 70%;
}

#tombody {
  position: absolute;
  top: 20%;
  left: 50%;
}

#devinbody {
  position: absolute;
  top: 20%;
  right: 50%;
}

img {
  height: 200px;
  width: 380px;
}

img#tomPic {
  position: absolute;
  top: 30px;
  right: 250px;
}

img#devinPic {
  position: absolute;
  top: 30px;
  left: 250px;
}

.progress {
  width: 60%;
}

#devinEnergy {
  position: relative;
  top: 200px;
  left: 40%;
}

#devinBodyEnergy {
  position: relative;
  left: 40%;
  top: 250px;
}

#tomEnergy {
  position: relative;
  top: 200px;
}

#tomBodyEnergy {
  position: relative;
  top: 250px;
}

