html {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

body {
  width: 1280px;
  height: 720px;
  background-image: url('../images/restBackground.png');
  background-size: cover;
  padding: 0 0 0 0;
  margin: 0 auto;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#bodyContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#flexMainBody {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80%;
  height: 100%;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.upperBar {
  height: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* container for round number + timer */
.gameInfo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 15%;
  height: 100%;
  margin-top: 10px;
  margin-right: 0px;
}

/* 'round' + round number */
.roundNumber {
  width: 110%;  
  height: 120%;  
  background-color: #f9423a;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  color: white;
  margin-left: 20px;
}

#round {
  display: -webkit-flex;
  display:flex;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#number {
  display: -webkit-flex;
  display:flex;
  text-align: center;
  font-weight: bold;
  font-size: 90px;
  margin-top: -20px;
}

.timer{
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-left: 55px;
}

/* Power Balance Bar */
.progress {
  background-color: #555555;
  box-sizing: border-box;
  height: 100px;
  margin: 10px 0;
  position: relative;
  padding: 15px;
  width: 90%;
  left: 5%;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;

  color: white;
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.progress-small {
  font-size: 9px;
  font-size: 0.5625rem;
  height: 6px;
  line-height: 0.875;
}

.progress-large {
  font-size: 16px;
  font-size: 1rem;
  height: 25px;
  line-height: 1.7;
}

.progress > span {
  background-color: #2bc253;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
  transition: width 0.5s ease;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

.progress.progress-stacked > span {
  display: inline-block;
  float: left;
}

.progress > .bg-left {
  background-color: #cf1819;
}

.progress > .bg-right {
  background-color: #0405a8;
}

.progress > .meter {
  background-color: white;
}

/* Striped animation effect */
.progress-striped > span:after, .progress-striped > span > span {
  background-size: 50px 50px;
  bottom: 0;
  content: "";
  left: 0;
  background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent
  );
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* Gradations in energy bars */
.grad-danger {
  background: #f9423a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #620e03, #f9423a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #620e03, #f9423a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #620e03, #f9423a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #620e03, #f9423a); /* Standard syntax (must be last) */
}

.grad-safe {
  background: #114cb6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #114cb6, #3ab83a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #114cb6, #3ab83a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #114cb6, #3ab83a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #114cb6, #3ab83a); /* Standard syntax (must be last) */
}

.grad-normal {
  background: #3ab83a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #3ab83a, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, #3ab83a, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, #3ab83a, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #3ab83a, yellow); /* Standard syntax (must be last) */
}

.progress-striped.progress-animate > span:after, .progress-striped.progress-animate > span > span {
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/*
 * Twitter Component
 */
.content {
	position: absolute;
	width: 75%;
  bottom: 0;
  height: 140px;
	text-align: center;
  background-color: white;
  border-radius: 20px;
	margin: 5% 5% 5% 9%;
}

.content#twitterfeed{
	position: absolute;
	width: 700px;
	height: 200px;
	background: #61bcf6;
	display: inline-block;
	margin: 0 2% 2% 0;
	border-radius: 2px;
	color: #fafafa;
}

.content img{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 90px;
	border: 2px solid #cdcdcd;
}

.content .name{
  font-size: 24px;
	top: 25px;
	height: 40px;
	/* font-weight: bold; */
  color: #61bcf6;
}

.content .message{
  font-size:30px;
	top: 60px;
	width: 80%;
	height: 50px;
	text-align: left;
  color: black;
}

.content .name, .content .message{
	position: absolute;
	left: 150px;
	overflow: hidden;
}

/*
 *  particle floating section
 */
#ballmove {
  left: 0;
  overflow: hidden;
  height: 200px;
}

/*
 * d3 graph
 */
.d3line{
  fill: none;
  stroke-width: 2px;
}

.axis.axis--x g text {
  display: none;
}



.text {
  stroke: darkgrey;
}
