html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#maincontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

#graphContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(40, 40, 40, 0.8);

  position: relative;
  left: 15vw;
  top : 10vh;
  width: 70vw;
  height: 70vh;
}



#bettingToggleIcon {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 60vh;
  left: 10vh;
}

#graphToggleIcon {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 40vh;
  left: 10vh;
}

#kisweToggleIcon {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 20vh;
  left: 10vh;
}

#myGraph {
  width: 70vw;
  height: 70vh;
}

#myBetting {
  width: 70vw;
  height: 70vh;
}

/*.svg-container {*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*width: 100%;*/
  /*padding-bottom: 0%; !* aspect ratio *!*/
  /*vertical-align: bottom;*/
  /*overflow: hidden;*/
/*}*/
/*.svg-content-responsive {*/
  /*display: inline-block;*/
  /*position: absolute;*/
  /*top: 10px;*/
  /*left: 0;*/
/*}*/