html {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

#maincontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

#graphContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(40, 40, 40, 0.8);

  position: relative;
  left: 15%;
  width: 65%;
  height: 50%;
}

#graphToggleIcon {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

