.eMark:hover {
    width: 100px;
    height: 100px;
}

body {
    font: 20px sans-serif;
}

.text{
    stroke: darkgrey;
}

.line{
    fill: none;
    stroke-width: 2px;
}


.axis.axis--x g text {
    display: none;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}