body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Eurostile-Regular", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  background: transparent;
  background-size: cover;
  padding: 0 0 0 0;
  overflow: hidden;
  margin: 0 auto;
}

#main {
  width: 100vw;
  height: 100vh;
}

#tapA {
  background-color: black;
  position: absolute;
  bottom: 15vh;
  left: 12vw;
  width: 30%;
  height: 50%;
}

#tapB {
  background-color: black;
  position: absolute;
  bottom: 15vh;
  right: 30vh;
  width: 30%;
  height: 50%;
}

#logo {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 10vh;
  left: 5vw;
  z-index: 1000;
}
