body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Eurostile-Regular", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  background: transparent;
  background-size: cover;
  padding: 0 0 0 0;
  overflow: hidden;
  margin: 0 auto;
}

#logo {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 20px;
  left: 15px;
  z-index: 1000;
}
