<script src="../vganchor/graph.js"></script>
<div id="main">
  <!-- graph toggle button that shows the graph section when clicked -->
  <img class="graphToggle" ng-src="{{vm.toggleImage}}" ng-click="vm.showGraph()" />

  <!-- punch images to tap on and increase punch counts for each players -->
  <div id="tapA">
    <img class="punchImage" ng-click="vm.increaseFighterPunchCount(1)" ng-src="{{vm.punchImage1}}" />
    <p class="count">{{vm.fighterCount1}}</p>
  </div>

  <div id="tapB">
    <img class="punchImage" ng-click="vm.increaseFighterPunchCount(2)" ng-src="{{vm.punchImage2}}" />
    <p class="count">{{vm.fighterCount2}}</p>
  </div>

  <!-- actual graph section -->
  <div id="graphContainer" ng-show="vm.graphOn">
    <!-- graph part that brings up d3.js source -->
    <div class="graph" ng-show="vm.graphOn">
      <svg ng-show="vm.graphOn" id="myGraph"></svg>
    </div>
  </div>
</div>

