html {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Eurostile-Regular", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  background: transparent;
  background-size: cover;
  padding: 0 0 0 0;
  overflow: hidden;
  margin: 0 auto;
}

#main {
  width: 100vw;
  height: 100vh;
}

#tapA {
  background-color: transparent;
  position: absolute;
  bottom: 10vw;
  left: 10vw;
}

#tapB {
  background-color: transparent;
  position: absolute;
  bottom: 10vw;
  right: 30vw;
}

#logo {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 10vh;
  left: 10vw;
  z-index: 1000;
}

.count {
  margin: 0;
  color: darkgray;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 3px red;
}

.punchImage {
  width: 7vw;
  height: 7vw;
}
