html {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Eurostile-Regular", sans-serif;
  font-style: normal;
  font-size: 1.5em;
  background: transparent;
  background-size: cover;
  padding: 0 0 0 0;
  overflow: hidden;
  margin: 0 auto;
}

#main {
  width: 100vw;
  height: 100vh;
}

#tapA {
  background-color: transparent;
  position: absolute;
  bottom: 10vw;
  left: 10vw;
}

#tapB {
  background-color: transparent;
  position: absolute;
  bottom: 10vw;
  right: 30vw;
}

#logo {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 10vh;
  left: 10vw;
  z-index: 1000;
}

.count {
  margin: 0;
  color: darkgray;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 2px black;
}

.punchImage {
  width: 7vw;
  height: 7vw;
}

.graphToggle {
  width: 7vw;
  height: 7vw;

  position: absolute;
  top: 5vw;
  left: 5vw;
}

/* gray box container */
#graphContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(40, 40, 40, 0.8);

  position: relative;
  left: 15vw;
  top : 10vh;
  width: 70vw;
  height: 70vh;
}
