<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>GED Control Panel</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
    <script src="panel.module.js"></script>
    <script src="panel.controller.js"></script>
    <script src="panel.factory.js"></script>

</head>
<body ng-app="panelApp" ng-controller="PanelController as vm">
<div id="bodyContainer">
    <h1> KISWE PRODUCTION CONTROL PANEL</h1>

    <h2>TIMER</h2>
    <button class="btn btn-primary" ng-click="vm.timer_start()">START</button>
    <button class="btn btn-primary" ng-click="vm.timer_stop()">STOP</button>
    <button class="btn btn-primary" ng-click="vm.timer_reset()">RESET</button>
    <button class="btn btn-danger" ng-click="vm.set_round(1)">1</button>
    <button class="btn btn-danger" ng-click="vm.set_round(2)">2</button>
    <button class="btn btn-danger" ng-click="vm.set_round(3)">3</button>

    <input type="text" id="countdownInput" ng-model="countdownInput" style="height:30px">
    <button class="btn btn-default" ng-click="vm.set_countdown(countdownInput)">set</button>


    <h2>VOTES</h2>
    <input type="text" id="devinUp" ng-model="devinUp" style="height:30px">
    <input type="text" id="tomUp" ng-model="tomUp" style="height:30px">
    <button class="btn btn-default" ng-click="vm.votes_set(fighter1, fighter2)">set</button>

    <button class="btn btn-danger" ng-click="vm.ganchor_set_empty()">set empty</button>
    <button class="btn btn-primary" ng-click="vm.ganchor_set_tap()">set tap</button>



    <h2>SWEEP</h2>
    <button class="btn btn-danger" ng-click="vm.sweep_set_empty()">EMPTY</button>
    <input type="text" id="sweepPage" ng-model="sweepPage" style="height:30px">
    <button class="btn btn-default" ng-click="vm.sweep_set(sweepPage)">SET PAGE</button>


    <h2>PUNCH</h2>
    <input type="text" id="punch1" ng-model="punch1" style="height:30px">
    <input type="text" id="punch2" ng-model="punch2" style="height:30px">
    <button class="btn btn-default" ng-click="vm.punch_set(punch1, punch2)">set</button>
    <button class="btn btn-danger" ng-click="vm.tap_set_empty()">set empty</button>
    <button class="btn btn-primary" ng-click="vm.tap_set()">set tap</button>

</div>

</body>
</html>