<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>GED Control Panel</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-route.min.js"></script>
    <script src="panel.module.js"></script>
    <script src="panel.controller.js"></script>
    <script src="panel.factory.js"></script>

</head>
<body ng-app="panelApp" ng-controller="PanelController as vm">
<div id="bodyContainer">
    <h1> KISWE PRODUCTION CONTROL PANEL</h1>

    <h2>REST PAGE</h2>

    <h3>TIMER</h3>
    <button class="btn btn-primary" ng-click="vm.timer_start()">START</button>
    <button class="btn btn-primary" ng-click="vm.timer_stop()">STOP</button>
    <button class="btn btn-primary" ng-click="vm.timer_reset()">RESET</button>
    <button class="btn btn-danger" ng-click="vm.set_round(1)">1</button>
    <button class="btn btn-danger" ng-click="vm.set_round(2)">2</button>
    <button class="btn btn-danger" ng-click="vm.set_round(3)">3</button>

    <input type="text" id="countdownInput" ng-model="countdownInput" style="height:30px">
    <button class="btn btn-default" ng-click="vm.set_countdown(countdownInput)">set</button>



    <h2>OVERLAY</h2>


    <h3>SWEEP</h3>
    <input type="text" id="sweepPage" ng-model="sweepPage" style="height:30px" placeholder="1, 2 or 3">
    <button class="btn btn-default" ng-click="vm.sweep_set(sweepPage)">SET PAGE</button>
    <button class="btn btn-danger" ng-click="vm.sweep_set_empty()">EMPTY</button>


    <h3>PUNCH/TAP</h3>
    <input type="text" id="punch1" ng-model="punch1" style="height:30px">
    <input type="text" id="punch2" ng-model="punch2" style="height:30px">
    <button class="btn btn-default" ng-click="vm.punch_set(punch1, punch2)">SET PUNCH</button>
    <button class="btn btn-danger" ng-click="vm.tap_set_empty()">SET EMPTY</button>
    <button class="btn btn-primary" ng-click="vm.tap_set()">SET ON</button>


    <h3>VOTES/VGANCHOR</h3>
    <input type="text" id="devinUp" ng-model="vm.fighter1" style="height:30px">
    <input type="text" id="tomUp" ng-model="vm.fighter2" style="height:30px">
    <button class="btn btn-default" ng-click="vm.votes_set(vm.fighter1, vm.fighter2)">SET VOTE</button>

    <button class="btn btn-danger" ng-click="vm.vganchor_set_empty()">SET EMPTY</button>
    <button class="btn btn-primary" ng-click="vm.vganchor_set()">SET ON</button>


</div>
</body>
</html>