html {
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
}

#logo {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 10vh;
  left: 5vw;
  z-index: 1000;
}

canvas {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
