html {
  width: 100vw;
  height: 100vh;
}

html, body {
  background: transparent;
  background-size: cover;
  padding: 0 0 0 0;
  overflow: hidden;
  margin: 0 auto;
}

#main {
  width: 100vw;
  height: 100vh;
}

#votePic {
  position: absolute;
  width: 7vw;
  height: 7vw;
  bottom: 76vh;
  left: 5vw;
}

#bettingToggleIcon {
  width: 7vw;
  height: 7vw;
  position: absolute;
  bottom: 60vh;
  left: 5vw;
}